@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

html {
  width: 100vw;
  height: 100vh;
}
.overview {
  background-color: #ffffff;
  border-radius: 8px;
}
.overviewTitle {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  font-weight: 700;
  color: #333333;

  position: absolute;
  top: 40px;
  left: 77px;

  @media (max-width: 425px) {
    left: 24px;
    top: 20px;
  }
}

.section {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-top: 15rem;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 425px) {
    margin-top: 7rem;
  }

  @media (max-width: 320px) {
    flex-direction: column;
    align-items: center;
  }
}

.sectionPic {
  width: 539px;
  height: 447px;
  @media (max-width: 425px) {
    width: 286.83px;
    height: 238px;
  }
}

.sectionOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sectionTitle {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  width: 586px;
  color: #333333;
  @media (max-width: 425px) {
    width: 350px;
    font-size: 48px;
    line-height: 71px;
    margin-top: 3rem;
  }
  @media (max-width: 320px) {
    width: 90vw;
    font-size: 30px;
  }
}

.sectionDesc {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  width: 381px;
  color: #4f4f4f;
  margin-top: 4rem;
  @media (max-width: 425px) {
    font-size: 18px;
    line-height: 27px;
    width: 328px;
  }
  @media (max-width: 320px) {
    width: 90vw;
    font-size: 18px;
  }
}

.button {
  font-family: Space Mono;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  background-color: #333333;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  width: 216px;
  height: 68px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
  margin-bottom: 4rem;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #bdbdbd;

  position: relative;
  bottom: -100px;
  width: 100%;
  padding-bottom: 17px;
}

.username {
  font-weight: 700;
  text-decoration: underline;
}
